*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    

}   
#header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place the video behind other content */
}

.container{
    padding: 10px 10px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
a {
    text-decoration: none;
    color: #fff;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 30px;
    display: inline-block; 
    transition: color 0.5s ease; 
  }

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    margin-bottom: 60px;

}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 10%;
    font-size: 30px;
    background-color: #080808;
    background-size: 10px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}

/* ----------about---------- */
#about{
    padding: 80px 0;
    margin-left: 150px;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
}

.about-col-1{
    flex-basis: 35%;
    
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    
}
.about-col-2{
    flex-basis: 60%; 
    line-height: 25px;
    color: #fff;
    
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    line-height: 60px;
    
    
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;

}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ----------services------------ */
#services{
    padding: 30px 0;
    margin-left: 30px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    margin-left: center;
    font-weight: 300;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 40px;
    margin-bottom: 30px;
    margin-left: 80px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
.services-list div li{
    font-size: 15px;
    font-weight: 10;
}
/* ---------portfolio----------*/
#portfolio{
    padding: 50px 0;
    
}
.sub-title{
    font-size: large;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    margin-top: 30px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.work img{

    width: 100%;
    border-radius: 10px;
    display: block;
    width: 500px;
    height: 400px;
    transition: transform 1s;

}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
} 
.layer h3{
    font-weight: 500;
    margin-bottom: 10px;

}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}

/*---------Contact-------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 20px;
}
.contact-left p{
    color: #ff004f;
    margin-right: 15px;
    font-size: 20px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
    transition: transform 0.5s;
}
.btn.btn2 :hover{
    background: #fff;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 85%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
}
form btn2{
    padding: 14px;
    font-size: 18px;
    margin-top: 20px;
    
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 35px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #080808;
}

nav .fas{
    display: none;
}

@media screen and (max-width: 600px) {

    .header-text {
      margin-top: 300px;/* Adjusted for better positioning */
      font-size: 16px;
    }
  
    .header-text h1 {
      font-size: 24px; /* Adjusted font size for better readability */
    }

    #about {
      margin-left: 0;
    }
  
    nav .fas {
      display: block;
      font-size: 25px;
      margin-right: 20px;
    }
  
    nav ul {
      background: #ff004f;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
      margin-right: -30px;
    }
  
    nav ul li {
      display: block;
      
    }

    h2{
        margin-left: -25px;
    }
  
    nav ul .fas {
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
    }
  
    .sub-title {
      font-size: 30px; 
    }
  
    .about-col-1 img {
      margin-top: -100px; 
      width: 250%; 
      margin-left: 30px;
      
    }
  
    .about-col-2 {
      font-size: 14px;
      margin-top: 350px; /* Adjusted margin for better spacing */
      text-align: left;
      margin-left: -120px;
      flex-basis: 100%; /* Adjusted flex-basis for better responsiveness */
      margin-bottom: -120px;
        
    }
  
    .tab-links {
      font-size: 14px;
      margin-right: 10px; /* Adjusted margin for better spacing */
    }

    .services-list div{
        margin-left: -30px;
        margin-top: -30px;
    }

    .contact-left p,
    .contact-left a {
      font-size: 12px; /* Adjusted font size for better readability */
    }
  
    .contact-right form input,
    .contact-right form textarea {
      width: 100%; /* Adjusted input width for better responsiveness */
    }
  
    .btn.btn2 {
      margin-top: 10px; /* Adjusted margin for better spacing */
    }
  
    #msg {
      color: #61b752;
      margin-top: -20px; /* Adjusted margin for better spacing */
      display: block;
    }
  }